/******Site styles******/
.circle__six {
  max-width: max-content;
}
.circle__six > div > svg {
  width: 67rem;
  height: 24rem;
  position: relative;
  /* bottom: -35px; */
}

.detail__galery {
  background-image: url(../../../assets/image/papelBlancoFondo_auto_x2.jpg);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 7rem;
  /* min-height: 34vh; */
}

.galery__behance__icon {
  height: 19.95px;
  width: 30px;
  padding-bottom: 0.1rem;
  fill: #313332;
}

.galery__flick__icon {
  margin-left: 5vh;
}
.galery__flick__icon > div svg {
  height: 21.25px;
}

.galery__icons__items {
  display: inline;
}
.galery__icons__items li {
  padding: 8vh 0vh 0vh 0vh;
  display: inline-block;
  max-width: 50%;
}

/* galery__photodesign__container / para App.css probar, según cascada*/

.galery__text__top > h1 {
  padding-bottom: 6rem;
}
.galery__text__top small {
  font-size: 16px;
  display: block;
}
.galery__text__top strong {
  font-weight: 800;
}

.galery__footer__invitation {
  padding: 6.5rem 0rem 0rem 12.8rem;
}
.galery__footer__invitation h3 {
  font-size: 3.5rem;
  font-weight: 800;
  white-space: nowrap;
}

.img__four__galery {
  height: 99%;
}

/************Components***************/

/************Switches*******************/

/************Modal**********************/
/*.pointer-events {
  opacity: 0;
  pointer-events: none;
}*/

.modal__container[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

.modal__img__three {
  height: 526px;
}

.modal__content img:nth-child(4) {
  height: 480px;
}
