.about {
  padding-top: 20rem;
}

.about__col__box__img {
  width: 385px;
  height: 510px;
  position: absolute;
  top: 188px;
  left: 120px;
}

.about__col__circle__and__img {
  display: flex;
  position: relative;
}

.about__col__02__and__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5rem;
}

.about__col__text__title {
  margin: 1rem 0rem 1rem 1.5rem;
}

.__02 > div > svg {
  width: 85%;
}

.about__col__02 {
  display: flex;
  align-items: flex-end;
}

.about__contain p {
  font-size: 1.9rem;
  width: 72%;
  margin-left: auto;
  padding-top: 7rem;
}

.about__img {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.circle__two > div > svg {
  width: 58rem;
  height: max-content;
}

.contain__button__home button {
  margin-right: 14.4rem;
}

.--detail {
  mix-blend-mode: color;
}

@media screen and (min-width: 1920px) and (max-width: 2120px) {
  /* about */
  .about__col__02 {
    margin-left: 28rem;
  }
}
