.about__detail__p strong {
  font-weight: 800;
  /* Utilitie */
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.aboutHeader div p {
  text-align: left;
  font-size: 18px;
  padding-top: 7rem;
}

.aboutHeader div h1 {
  margin-left: 3rem;
  font-weight: 800;
}

.aboutHeader div img {
  width: 14rem;
}

.aboutTitle {
  display: flex;
  align-items: flex-end;
  padding-top: 7rem;
}

.backToHome {
  cursor: pointer;
  left: 0;
  top: 50.5px;
  width: 5rem;
}

.containerAbout {
  position: relative;
  padding: 4rem 0rem 0rem 5.5rem;
}

.detailAbout__two {
  display: inline-flex;
  align-items: center;
  padding-top: 23vh;
}

.education {
  position: relative;
  text-align: left;
  padding-left: 10rem;
}

.education__col__container {
  padding-top: 5rem;
  display: inline-block;
}

.education div div {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}
.education div div img {
  width: 20px;
  height: 20px;
}
.education div div p {
  font-size: 18px; /*Importante**/
  padding-left: 1.4rem;
}

.group {
  position: absolute;
  max-width: 64rem;
  display: block;
  right: 0;
  top: 0;
}
.group2 {
  position: relative;
  max-width: 56rem;
  display: block;
  left: 0;
}
